@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Inter:wght@300;400;500;600&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* body {
    @apply font-sans text-black bg-milk antialiased selection:bg-rose selection:text-white;
  } */
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif tracking-tight;
  }
}

.slider-banner .swiper-pagination-bullet {
  width: 15px;
  height: 6px;
  display: inline-block;
  background: #1A1A1A;
  margin: 0 5px;
  border-radius: 20px;
  transition: opacity 0.5s, background-color 0.5s, width 0.5s;
  transition-delay: 0.5s, 0.5s, 0s;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.slider-banner .swiper-pagination-bullet-active {
  background: #D4AF37; /* Premium Gold */
  width: 45px;
  transition-delay: 0s;
}
